$accent: #00acc1;

$breakpoints: (
    small: 767px,
    medium: 992px,
    large: 1200px,
    extraLarge: 1450px
);

@mixin at($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "No such breakpoint";
    }
}

@mixin step-main {
    .step-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8rem;

        @include at(medium) {
            margin-top: 10rem;
            grid-template-columns: 1fr 442px;
            padding: 2rem;
        }
    }
}

@mixin step-single {
    .step-single {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8rem;

        @include at(medium) {
            margin-top: 6rem;
            grid-template-columns: 1200px;
            padding: 2rem;
        }
    }
}

@mixin step-nav {
    .step-nav {
        display: flex;
        justify-content: space-between;

        &:last-child {
            margin: 0;
        }
    }
}

@mixin step-desc {
    .step-desc {
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 14px;
        }

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
        }

        .step-img {
            display: block;
            width: 100%;
            max-width: 38rem;
            margin: 0 auto;
        }
    }
}
